@font-face {
    font-family: LeagueSpartan;
    src: url(../fonts/LeagueSpartan-VariableFont_wght.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @media (max-width: 495px) {
        font-size: 50%;
    }

    @media (max-width: 389px) {
        font-size: 45%;
    }

    @media (max-width: 338px) {
        font-size: 40%;
    }
}

body {
    font-size: 3.2rem;
    font-family: LeagueSpartan, sans-serif;
    font-weight: 700;
}