.calculator {
    width: 54rem;
    height: 70.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header {
        height: 4.4rem;
        color: var(--color-text-main);

        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 3.2rem;
        }
    }

    .screen {
        height: 12.8rem;
        background-color: var(--color-screen-background);
        font-size: 5.6rem;
        color: var(--color-text-main);
        border-radius: 1rem;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        span {
            margin: .5rem 3.2rem 0 3.2rem;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                height: .5rem;
            }
            &::-webkit-scrollbar-thumb {
                background: var(--color-key-background-1);
            }
            
            &::-webkit-scrollbar-thumb:hover {
                background: var(--color-key-hover-1);
            }
        }
    }

    .keyboard {
        height: 48rem;
        background-color: var(--color-keypad-background);
        border-radius: 1rem;
    }
}