main {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-main-background);
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.attribution {
    position: absolute;
    bottom: 0;
    width: 100vw;
    text-align: center;
    font-size: 11px; 
    text-align: center;
    font-weight: 400;
    color: var(--color-text-main); 

    a { 
        color: var(--color-text-main); 
    }
}